# Database - PostgreSQL
POSTGRES_URL=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT
## this-is-my-portfolio-backend-project-2026-04-07-wednesday → BASE64URL
JWT_SECRET_KEY=
## 15분
JWT_ACCESS_EXPIRATION_MS=
## 7일
JWT_REFRESH_EXPIRATION_MS=
JWT_ISSUER=

# Codecov
CODECOV_TOKEN=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Admin (초기 관리자 계정)
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=