# Database - PostgreSQL
POSTGRES_URL=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=
JWT_ISSUER=

# Codecov
CODECOV_TOKEN=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=